.board {
	border: 1px black solid;
	font-family: Courier;
	display: inline-block;
}

#next-tile {
	border: 1px black solid;
	font-family: Courier;
	display: inline-block;
}

.tile {
	display: inline-block;
}

.entry {
	display: inline-block;
	vertical-align: top;
}