#board {
	border: 1px black solid;
	font-family: Courier;
	display: inline-block;
}

#next-tile {
	border: 1px black solid;
	font-family: Courier;
	display: inline-block;
}

.tile {
	display: inline-block;
	margin: 0; /* Removes gaps caused by <pre> elements */
	font-family: Courier;
}

.entry-container {
	display: inline-block;
	vertical-align: top;
}

#entry {
	/* Line the entry up with the first pipe */
	margin-right: -4px;
	padding-top: 1px; 

	vertical-align: top;
	font-family: Courier;
}